.head
{
 border: 1px solid black;
 height: 68px;
 width:100%;
 background-color:#ea5070;
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.ab1{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab2{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab3{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab4{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab{
    position: relative;
    bottom: 30px;
  }
  .img
  {
    position: relative;
    left:100px;
  }
  .menu{
    position: relative;
    left:60px;
  }