

<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel></ng-template>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-select [(ngModel)]="customer"  #clientValue (selectionChange)="changeClient($event.value)">
        <mat-option *ngFor="let nc of customer" [value]="nc.pname">
           {{nc.pname}}
         </mat-option>
       </mat-select>
   </mat-form-field><br>       
              <div>
                  <button mat-button matStepperNext>Subscribe</button>
                </div>
                <mat-step [stepControl]="secondFormGroup">
                  <ng-template matStepLabel></ng-template>
                  
                  
                 <div>
                  <button mat-button matStepperNext>Subscription</button>
                </div>
                              </mat-step>
                              
<mat-step>
  <ng-template matStepLabel></ng-template>
  <p>You are now done.</p>
  <div>
    <button mat-button matStepperPrevious>Back</button>

    <button mat-button >Reset</button>
  </div>
</mat-step> 
                            
        
                              