
  
  .bord
  {
    border: 1px solid black;
    height: 1020px;
    width: 1100px;
    position: relative;
    left:100px;
    top:80px;
  }
  .cont
  {
    position: relative;
    left:60px;
  }
  .img
  {
   position: relative;
   left:80px;
  }
  .img1{
    width:400px;
    position: relative;
    left:60px;
  }
  .para
  {
    position: relative;
    left:60px;
  }
  .about{
    position: relative;
    left:100px;
    top:-1960px;
    
  }
  .help
  {
    position: relative;
    left: 400px;
    bottom:130px;
  }
  .quick
  {
    position: relative;
    left:600px;
    bottom:270px;
  }
  .social
  {
    position: relative;
    left:800px;
    bottom:390px;
  }
  .img2
  {
    height: 118px;
    width:149px;
    position: relative;
    left:480px;
    bottom:805px;
  }
  .meb
  {
    position: relative;
    left:470px;
    bottom:810px;
  }
  .p1
  {
    position: relative;
    left:490px;
    bottom:810px;
  }
  .img3
  {
    height: 118px;
    width:149px;
    position: relative;
    left:660px;
    bottom:980px;
  }
  .p2
  {
    position: relative;
    left:680px;
    bottom:980px;
  }
  .img4{
    height: 118px;
    width:149px;
    position: relative;
    left:830px;
    bottom:1155px;
  }
  .p3{
    position: relative;
    left:850px;
    bottom:1155px;
  }
  .img5
  {
    height: 118px;
    width:149px;
    position: relative;
    left:480px;
    bottom:1145px;
  }
  .p4
  {
    position: relative;
    left:490px;
    bottom:1145px;
  }
  .img6
  {
    height: 118px;
    width:149px;
    position: relative;
    left:660px;
    bottom:1300px;
  }
  .p5
  {
    position: relative;
    left:670px;
    bottom:1300px;
  }
  .img7{

    height: 118px;
    width:149px;
    position: relative;
    left:830px;
    bottom:1455px;
  }
  .p6
  {
    position: relative;
    left:840px;
    bottom:1455px;
  }
  .img8{
    height: 118px;
    width:149px;
    position: relative;
    left:480px;
    bottom:1435px;
  }
  .p7
  {
    position: relative;
    left:480px;
    bottom:1435px;
  }
  .img9{
    height: 118px;
    width:149px;
    position: relative;
    left:660px;
    bottom:1590px;
  }
  .p8
  {
    position: relative;
    left:670px;
    bottom:1590px;
  }
  .img10
  {
    height: 118px;
    width:149px;
    position: relative;
    left:830px;
    bottom:1745px;
  }
  .p9
  {
    position: relative;
    left:840px;
    bottom:1745px;
  }
  .img11{
    height: 118px;
    width:149px;
    position: relative;
    left:480px;
    bottom:1740px;
  }
  .p10
  {
    position: relative;
    left:490px;
    bottom:1740px;
  }
  .img12
  {
    height: 118px;
    width:149px;
    position: relative;
    left:660px;
    bottom:1910px;
  }
  .p11
  {
    position: relative;
    left:670px;
    bottom:1910px;
  }
  .img13
  {
    height: 118px;
    width:149px;
    position: relative;
    left:840px;
    bottom:2105px;
  }
  .p12
  {
    position: relative;
    left:850px;
    bottom:2105px;
  }
  .img14{
    height: 118px;
    width:149px;
    position: relative;
    left:480px;
    bottom:2080px;
  }
  .p13
  {
    position: relative;
    left:490px;
    bottom:2080px;
  }