

  <app-header></app-header>
<body class="log">      
<form>
    <div class="form" >
      <ul></ul>
     <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon" >home</mat-icon>&nbsp;
      <span class="divider">&nbsp;|&nbsp;</span>
      <span class="wel">Login</span><br><br>
   <mat-form-field class="example-full-width" appearance="fill">
    <mat-label >User Name*</mat-label>
    <input matInput placeholder="" [(ngModel)]="username" name="username">
  </mat-form-field><br>
  <mat-form-field class="example-full-width" appearance="fill">
      <mat-label >Password</mat-label>
      <input matInput [type]="showPassword ? 'text' : 'password'" name="password" [(ngModel)]="password" name="password">
      <mat-icon matSuffix (click)="show()">visibility</mat-icon>
  </mat-form-field><br>
  
     <!-- <input type="button"   value="LOGIN" (click)="login()" 
     routerlink="/home">&nbsp; -->
     <button  (click)="login()">Login</button>&nbsp;
     <button ><a href="/register" >NEW USER</a></button><br>
     <a href="/forgotpassword" id="" name="op" class="">Forgot Password</a>
     <ul class="sharing">
			<li><a href="#" class="facebook" title="Facebook"><i class="fa fa-boxed fa-fw fa-facebook"></i> Share on Facebook</a></li>
		  	<li><a href="#" class="twitter" title="Twitter"><i class="fa fa-boxed fa-fw fa-twitter"></i> Tweet</a></li>
		  	<li><a href="#" class="google" title="Google"><i class="fa fa-boxed fa-fw fa-google-plus"></i> Share on Google+</a></li>
		  	<li><a href="#" class="linkedin" title="Linkedin"><i class="fa fa-boxed fa-fw fa-linkedin"></i> Share on LinkedIn</a></li>
		  	<li><a href="#" class="mail" title="Email"><i class="fa fa-boxed fa-fw fa-envelope-o"></i> E-mail</a></li>
		</ul>
     
    
    </div> </form><br><br>
	    
  <div class="about">
    <h3>About Us</h3>
    <p>
        "Lorem ipsum dolor sit amet,
         consectetur adipiscing elit, <br>
         sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
         Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."

        </p>
     <div class="help">
        <h3>Help & Support</h3>
        <p>
            24x7 Live help<br>
            Contact us<br>
            Feedback<br>
            FAQs   
        </p>
     </div>    
  <div class="quick">
    <h3>Quick Links</h3>
   <p>Privacy Policy<br>
    Terms and Conditions<br>
    Services</p> 
  </div>
    
  <div class="social">
    <h3>Social</h3>
    
      <div class="col-md-2 col_2">
      
        <ul class="footer_social">
        <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
           target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
        <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
        <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
        <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
        </ul>
      </div>
        
    

        
    
  </div>
  </div>  

</body>

       


