.ser
{
 border: 1px solid black;
 height: 68px;
 width:1500px;
 background-color: rgb(236, 84, 84);
}
.ggg{
    position: relative;
    left:800px;
    bottom: 40px;
    color:white;
}
.ab1{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab2{
    position: relative;
    left:-10px;
    bottom: 30px;
    
  }
  .ab3{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab4{
    position: relative;
    left:-10px;
    bottom: 30px;
  }
  .ab{
    position: relative;
    bottom: 30px;
  }
  .bord
  {
    border: 1px solid black;
    height: 550px;
    width:1050px;
    position: relative;
    left:120px;
    top:80px;
  }
  element.style {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin: 0px;
    left: 0px;
    top: 0px;
    touch-action: pan-x pan-y;
}
.con
{
 position: relative;
 left:50px
}
.img
{
   position: relative; 
   left:80px;
}
.col{
    position: relative;
    left:600px;
    bottom:250px;
}
.about{
  position: relative;
  left:130px;
  top:180px;
}
.help
{
  position: relative;
  left: 400px;
  bottom:130px;
}
.quick
{
  position: relative;
  left:600px;
  bottom:270px;
}
.social
{
  position: relative;
  left:800px;
  bottom:390px;
}