.h1
{
    position: relative;
    left:10px;
    top:20px;
    color: brown;
}
.img
{
    height: 363px;
    width:306px;
    position: relative;
    left:50px;
    top:10px;

}
.basic1{
    position: relative;
    bottom:60px;
    left:150px;
} 
 .h3{
    position: relative;
    left:40px;
    bottom:350px;
    color:brown;
} 
.detail
{
    position: relative;
    left:40px; 
    bottom:350px;
}
.detail2
{
    position: relative;
    left:180px;
} 
 .pre
 {
    position: relative;
    left: 393px;
    bottom: 375px;
 }
 .slide
 {
    width:100px;
   height: 100px;
   position: relative;
   bottom:350px;
   left:30px;
   
 }
 .icon
{
    position: relative;
    left: 56px;
    top: 15px;
    color: #ea5070;
}
.edit
{
    position: relative;
    top:10px;
    left:50px;
}
.divider
{
    position: relative;
    top:10px;
    left:45px;
}
.mat-tab-group {
    margin-bottom: 48px;

  }
  