<!-- <div class="pp">
  <button mat-button [matMenuTriggerFor]="menu" style="height: 70px; bottom:20px ;left:10px;">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item>Login</button>
  <button mat-menu-item>Register</button>
</mat-menu>
  <img src="../../assets/logo.png" style="font-size: 110px;    height: 60px;"/>
 
  <div class="ggg">
  <span>
    <a mat-button href="http://localhost:4200/index"   style="color:white" class="ab">About Us </a>
    <a mat-button href="http://localhost:4200/president"   class="ab1" style="color:white" >President Message</a>
    <a mat-button href="http://localhost:4200/service"   style="color:white" class="ab2">Services</a>
    <a mat-button href="http://localhost:4200/contact"    class="ab3" style="color:white">Contact Us</a>
    <a mat-button href="http://localhost:4200/login"    tyle="color:white" class="ab4">Login</a>
</span></div>
</div> -->
<app-header></app-header>
    <div class="container" style="margin-right:0px;">
      
        <img src="../../assets/banner.png" alt="" style="width:1500px;height:650px;">
        <div class="banner_info">
        <img src="../../assets/vks.jpeg" alt="" style="width:260px;height:80px; " class="h1">
        <a mat-button href="/register"  class="hvr">Create your Profile</a>
        <!-- <a href="/Registration" class="hvr">Create your Profile</a> -->

    </div>
    <h1 class="head">Latest Profiles</h1>
            
    <div class="heart-divider">
      <span class="grey-line"></span>
      <i class="fa fa-heart pink-heart"></i>
      <i class="fa fa-heart grey-heart"></i>
      <span class="grey-line"></span>
        </div>
     
    <div class="row">
      <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="6" 
      [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
          <ng-template pTemplate="header">
              <h5></h5>
          </ng-template>
          <ng-template let-product pTemplate="item">
              <div class="product-item">
                  <div class="product-item-content1">
                      <div class="mb-3">
                         
                        <a href="/login"><img src="assets/showcase/images/demo/product/{{product.image}}" [alt]="product.name" class="product-image" /></a>
                       <br> 
                       <a href="/login"><span>{{product.id}}</span><br>
                       <span>{{product.DEMO}}</span><br>
                       <span>{{product.name}}</span></a><br>
                      </div>
                      
                      
                      <!-- <div>
                          <h4 class="p-mb-1">{{product.name}}</h4>
                          <h6 class="p-mt-0 p-mb-3">${{product.price}}</h6>
                          <span [class]="'product-badge status-'+product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>
                          <div class="car-buttons p-mt-5">
                              <p-button type="button" styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-search"></p-button>
                              <p-button type="button" styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star"></p-button>
                              <p-button type="button" styleClass="p-button-help p-button-rounded" icon="pi pi-cog"></p-button>
                          </div>
                      </div> -->
                  </div>
              </div>
          </ng-template>
      </p-carousel>
      </div>
      
	</div><br><br>
  <div>
    <h1 class="story">Success Stories</h1><br>
    <h3 class="news">News & Events</h3>
   </div>
  <div class="con1">
    
    <img src="../../assets/bg.jpg" height="500px" width="1200px" class="bg">
    <h1 class="msg">Guest Messages</h1>
    <div class="bg_left">
      <h4>But I must explain</h4>
      <h5 style="color: #c32143;">Friend of Bride</h5>
      <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium 
        doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo 
        inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

        <div class="bg_left1">
            		<h4>But I must explain</h4>
            		<h5 style="color: #c32143;">Friend of Groom</h5>
            		<p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
            	  
                    
            	</div>
       
    </div>
  
  </div><br><br>

                <div class="about">
                  <h3>About Us</h3>
                  <p>
                      "Lorem ipsum dolor sit amet,
                       consectetur adipiscing elit, <br>
                       sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua.
                       Ut enim ad minim veniam, <br>quis nostrud exercitation ullamco laboris."
              
                      </p>
                   <div class="help">
                      <h3>Help & Support</h3>
                      <p>
                          24x7 Live help<br>
                          Contact us<br>
                          Feedback<br>
                          FAQs   
                      </p>
                   </div>    
                <div class="quick">
                  <h3>Quick Links</h3>
                 <p>Privacy Policy<br>
                  Terms and Conditions<br>
                  Services</p> 
                </div>
                  
                <div class="social">
                  <h3>Social</h3>
                  
                    <div class="col-md-2 col_2">
                    
                      <ul class="footer_social">
                      <li><a href="https://www.facebook.com/Vishwakarma-Foundation-Seva-Trust-1418477775074117/?fref=ts"
                         target="_blank"><i class="fa fa-facebook fa1">facebook </i></a></li>
                      <li><a href="#"><i class="fa fa-twitter fa1">twitter </i></a></li>
                      <li><a href="#"><i class="fa fa-google-plus fa1"> Googleplus</i></a></li>
                      <li><a href="#"><i class="fa fa-youtube fa1"> youtube</i></a></li>
                      </ul>
                    </div>

                </div>

                

                


                