


<app-header1></app-header1>
<a href="/home"><mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon></a>&nbsp;
<span class="divider">&nbsp;|&nbsp;</span>
<span class="wel">Welcome To Viswakharma Alliances</span>
<div class="bord row" *ngFor="let li of profiles">
  <div>
      <a href="/uprofile"><h2 class="head1" >VKMB4422</h2></a>
      <img src="../../assets/m1.jpg" class="i1">
      <h3 class="sh1">KUMARI PALLA</h3>
      <div class="para1">
        <div><label>Name : <span> KUMARI</span>  </label>  </div>
        <div><label>Age : <span> 25</span>  </label>  </div>
        <div><label>Caste : <span> KUMARI</span>  </label>  </div>
        <div><label>Mobile : <span> KUMARI</span>  </label>  </div>
        <div><label>City : <span> KUMARI</span>  </label>  </div>
        <div><label>Profile Created BY : <span> KUMARI</span>  </label>  
      </div>
      <div class="example-button-row" style="position: relative;left: 34%;">
        <a mat-raised-button href="https://www.google.com/" color="accent" target="_blank">Link</a>
      </div>
      </div>
  </div>
</div>

<!-- <div class="pagenation">
  <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
</mat-paginator> -->


